.brand {
	display: flex;
}
.brand-image-container {
	width: 56px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand-image {
	display: block;
	width: 90%;
	height: 90%;
}
.brand-name {
	display: none;
}

@media (min-width: 768px) {
	.brand-image-container {
		margin-left: 0.8rem;
	}

	.brand-name {
		display: none;
		font-weight: 500;
		font-size: 1.8rem;
		color: var(--logo-text);
		margin-left: 0.4rem;
	}
}
