.card-container {
	margin: 6rem 0 0 0;
}
.card {
	background-color: var(--weather-card-bg);
	/*box-shadow: 0 0 2pt 2pt rgba(0, 0, 0, 6%);*/
	padding: 1.6rem 0.8rem;
	border: 1pt solid var(--card-border-color);
}

@media (min-width: 768pt) {
	.card-container {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}
	.card {
		width: 570pt;
		max-width: 570pt;
		border-radius: 14pt;
	}
}
