.app.dark-theme {
	--header-color: black;
	--btn-primary: green;
	--footer-color: red;
	--body-bg: blue;
	--card-top-bg: yellow;

	--main-text: pink;
	--secondary-text: orange;
	--third-text: beige;
	--darkgray-text: skyblue;
	--gray-text: fuchsia;
	--white: #fff;

	--border-radius: 0.2rem;
}
.app.light-theme {
	--header-color: #1eaad6;
	--btn-primary: #126782;
	--footer-color: #214450;
	--body-bg: #e2eaf8;
	--card-top-bg: #ade0eb;

	--main-text: #18272c;
	--secondary-text: #85a6af;
	--third-text: #4d656f;
	--darkgray-text: #7f7f7f;
	--gray-text: #b8b8b8;
	--white: #fff;

	--border-radius: 0.2rem;
}

header {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-color);
	flex-wrap: nowrap;
	/*height: 100%;*/
	padding: 0.6rem 0.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	header {
		justify-content: space-between;
		width: 100%;
	}
}
