*,
*:after,
*:before {
	box-sizing: border-box;
}

.app {
	background-color: #eee;
	/*min-height: 100vh;*/
	min-height: 100vh;
	/*height: auto;*/
	/*height: 100%;*/
	min-width: 100vw;
	padding-bottom: 3.2rem;
}

header {
	padding: 0;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	background-color: blue; /* TODO: fill actuall color here*/
	flex-wrap: nowrap;
	/*padding: 0.7rem 0.4rem;*/
	height: 100%;
	padding: 0.6rem;
}

.brand {
	/*background-color: yellow;*/
	/*flex-basis: 10%;*/
	display: flex;

	/*width: 16vw;*/
}
.brand-image-container {
	/*background-color: green;*/
}
.brand-image {
	display: block;
	width: 42pt;
	height: auto;
	/*
	display: block;
	width: 30pt;
	height: 30pt;*/
	/*margin: 0.1rem 0.3rem;*/
}
.brand-name {
}

.search-container {
	/*background-color: red;*/
	/*flex-basis: 75%;*/

	/*width: 60vw;*/
	/*display: block;*/
	/*max-width: 60vw;*/
	width: calc(80% - 0.6rem);
	/*display: flex;*/
}
.form {
	display: flex;
	align-items: center;
	/*align-content: center;*/
	justify-content: center;
	margin: 0 0.6rem;
	background-color: #fff;
	border-radius: 0.2rem;

	/*width: 60vw;*/
	height: 42px;
	/*width: 90%;*/
}
.searchIcon {
	/*background-color: #ddd;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: #999;
	height: 42px;
	padding: 0 10px;
	/*box-sizing: border-box;*/
}
.form-input {
	border: 0;
	outline: 0;
	padding: 0.2rem 0;
	font-size: 0.9em;
	background-color: inherit;
	width: 68%;
	height: 30px;
	/*box-sizing: border-box;*/
	flex-grow: 1;
	flex-shrink: 1;
}
.btn {
	/*box-sizing: border-box;*/
	outline: 0;
	border: 0;
	/*flex-basis: 25%;*/
	padding: 0.7rem 0rem;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	font-size: 0.9rem;
	width: 50px;
	height: 42px;
	/*border: 1px solid;*/
	/*border-color: red;*/
}
.btn-primary {
}

.switcher {
	background-color: #eee;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	width: 42px;
	border-radius: 0.2rem;
}

.switcher-btn {
	padding: 0;
	outline: 0;
	border: 0;
	display: block;
	height: 100%;
	width: 100%;
	padding: 0.6rem;
	background-color: transparent;
	color: #333;
}

/*/////////////////////////////////////////////////////////////*/

.card-container {
	background-color: white;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 6%);
	/*margin-bottom: 1.6rem;*/
	padding: 0.8rem;
	margin-top: 1.6rem;
	/*min-height: 70vh;*/
}
.test {
	/*background-color: #f1f1f1;*/
	color: #666;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 2px dashed #ddd;
}
.test-heading {
	/*display: block;*/
}
.test-text {
	text-align: center;
	max-width: 70%;
	font-weight: 400;
	/*display: block;*/
}
.card-top {
	background-color: skyblue;
	border-radius: 10px;
}
.card-info-container {
	width: 100%;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	text-align: center;
}
.card-info-city {
	/*background-color: #eee;*/
}
.city-name {
	margin: 0;
	margin: 1rem 0 0.3rem 0;
	/*background-color: green;*/
	line-height: 1.2rem;
}
.icon-wrapper {
	/*background-color: red;*/
	/*line-height: 0.8rem;*/
}
.city-location {
	/*background-color: green;*/
	margin: 0;
	margin-bottom: 0.6rem;
	font-size: 0.8rem;
	color: #999;
	vertical-align: middle;
	line-height: 1.2rem;
}
.card-info-weather {
	/*background-color: blue;*/
	display: flex;
	justify-content: center;
	padding: 0.6rem 1rem 0.6rem 0rem;
}
.weather-icon {
	/*background-color: green;*/
	min-width: 40%;
	margin-left: 0%;
}
.weather-icon-image {
	height: 60pt;
	margin: 0.4rem;
}
.weather-info {
	/*background-color: #ddd;*/
	min-width: 50%;
	display: flex;
	flex-direction: column;
	/*padding: auto auto auto 0;*/
	/*justify-content: flex-start;*/
}
.temp {
	/*background-color: red;*/
	margin: 0;
	padding: 0.2rem 0 0 0;
	text-align: left;
	/*margin: 0.8rem;*/
	font-size: 3rem;
}
.temp strong {
	font-weight: 400;
}
.desc {
	margin: 0;
	padding: 0 0.3rem 0.3rem 0;
	text-align: left;
	font-size: 0.97rem;
}

.card-info-feelslike p {
	margin: 0;
	margin: 0.5rem 0 1.3rem 0;
	color: #f1f1f1;
	font-size: 0.9rem;
}

.card-bottom {
	/*background-color: green;*/
	margin-top: 1rem;
}

.details {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.col {
	/*flex-basis: 50%;*/
	display: flex;
	/*margin: 0 0 0 0.3rem;*/
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-bottom: 0.6rem;
}
.col:hover {
	background-color: #eee;
}

.col:nth-child(odd) {
	flex-basis: calc(50% - 0.25rem - 2px);
	margin-right: 0.25rem;
}
.col:nth-child(even) {
	flex-basis: calc(50% - 0.25rem - 2px);
	margin-left: 0.25rem;
}
.col:nth-last-child(1),
.col:nth-last-child(2) {
	/*background-color: blue;*/
	/*margin-bottom: 0rem;*/
}

.col-icon {
	display: block;
	width: 48px;
	/*background-color: #f1f1f1;*/
	color: #999;
	margin: 0.8rem 0.2rem 0.8rem 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 2rem;
}
.col-data {
	margin: 0.8rem 0;
	padding: 0 0 0 0.4rem;
}
.data-heading {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 500;
	color: #999;
	margin: 0 0 0.2rem 0;
}
.data-body {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 500;
}
