.app {
	/*min-height: 100vh;*/
	/*min-width: 100vw;*/
	/*padding-bottom: 3.2rem/*/
}

header {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-color);
	flex-wrap: nowrap;
	/*height: 100%;*/
	padding: 0.6rem 0.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	header {
		justify-content: space-between;
		width: 100%;
	}
}
